body {
  background: #eeeeee;
  background-image: url();
}

.buttons {
  margin-top: 30px;
}

#btn0, #btn1, #btn2, #btn3 {
  background-color: #01aec1;
  display: inline-block;
  width: 250px;
  font-size: 30px;
  color: #ffffff;
  border: 1px solid #1d3c6a;
  border-radius: 50px;
  margin: 25px 10px 0px;
  padding: 10px;
}

#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover {
  cursor: pointer;
  background-color: #e806d9;
}

#btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus {
  outline: 0;
}

.controllerClicker {
  margin: 20px 5px;
  border: 0;
}

.controllerClicker:hover {
  cursor: pointer;
  background-color: #cbcbcb;
}

.grid {
  margin: 50px auto;
  background-color: #fff;
  padding: 30px 50px 50px 50px;
  border-radius: 50px;
  border: 2px solid #cbcbcb;
  box-shadow: 10px 15px 5px #cbcbcb;
}

.grid h1 {
  font-family: sans-serif;
  background-color: #57636e;
  font-size: 60px;
  text-align: center;
  color: #ffffff;
  padding: 2px 0px;
  border-radius: 50px;
}

.grid #question {
  font-family: sans-serif;
  font-size: 30px;
  color: #5a6772;
}

#playBtn {
  background-color: #e80215;
}

#pauseBtn {
  background-color: #c14566
}

#stopBtn {
  background-color: #c14566
}

#progress {
  color: #2b2b2b;
  font-size: 18px;
  margin-top: 3rem;
}

#score {
  color: #5A6772;
  text-align: center;
  font-size: 30px;
}
